body {
    background: url('/static/img/hans_bg.jpeg') no-repeat center center fixed;
    background-size: cover;
}

.box {
    border: .2em solid;
    border-radius: 1em;
    margin-top: 5em;
    box-shadow: 1em 1em .5em #858585;
    background-color: #f3f3f3;
    margin-bottom: 10em;
}

.box hr {
    margin-top: 2em;
    margin-bottom: 1.5em;
    border: .2em solid #000000;
}

.box p {
    padding-left: 1em;
}

img {
    width: 256px;
    height: 256px;
}

@media(max-width: 480px) {
    .box {
        height: 100em;
    }
}

@media(min-width: 480px) {
    .box {
        height: 76em;
    }
}

@media(min-width: 768px) {
    .box {
        height: 60em;
    }
}

@media(min-width: 992px) {
    .box {
        height: 55em;
    }
}

@media(min-width: 1200px) {
    .box {
        height: 42em;
    }
}