body {
    background: url('/static/img/kevin_bg.png') repeat-x;
}

.box {
    background-color: #f0f0f0;
    margin-bottom: 5em;
    margin-top: 5em;
    border: .2em solid;
    box-shadow: 1em 1em .5em #858585;
    height: 28em;
}

.box hr {
    margin-top: 2em;
    margin-bottom: 1.5em;
    border: .2em solid #000000;
}

.box p {
    padding-left: 1em;
}

img {
    width: 256px;
    height: 256px;
    margin-top: 2em;
}

@media(max-width: 1200px) {
    .box {
        height: 50em;
    }
}