body {
    background: url('/static/img/nick_bg.jpeg') repeat center center;
}

.box {
    background-color: #f0f0f0;
    margin-top: 5em;
    border: .2em solid;
    box-shadow: 1em 1em .5em #858585;
    height: 25em;
}

.box hr {
    margin-top: 2em;
    margin-bottom: 1.5em;
    border: .2em solid #000000;
}

.box p {
    padding-left: 1em;
}

@media(max-width: 480px) {
    .box {
        height: 30em;
    }
}