body {
    background: url('/static/img/header_bg.jpg') no-repeat center center fixed;
}

.center {
    min-height: 90vh;

    display: flex;
    align-items: center;
}

.contact {
    background-color: #f5f5f5;

    border: .2em solid #000000;
    border-radius: .1em;

    padding: 2em 0;
}

.contact label{
    margin-top: 1em;
}

.contact textarea {
    height: 10em;
}

.error {
    border: .2em solid #ee4545;
    border-radius: .1em;
}

.success {
    border: .2em solid #45ee45;
    border-radius: .1em;
}