body {
    background: url('/static/img/header_bg.jpg') no-repeat center center fixed;
    background-size: cover;
}

.box {
    background-color: #f0f0f0;
    margin-top: 5em;
    border: .2em solid;
    box-shadow: 1em 1em .5em #858585;
}