body {
    background: url("/static/img/header_bg.jpg") no-repeat center center fixed;
    background-size: cover;
}

blockquote {
    border-color: #000000;
}

.guestbook {
    margin-top: 5em;
    border: .2em solid #000000;
    border-radius: 1em;
    background-color: #fefefe;
}

.post {
    margin: 2em 0;
}

.hr {
    border: .2em solid #aeaeae;
    margin-top: 1em;
}