html, body {
    background-color: #f2f2f2;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Comfortaa", "cursive";
    color: #000000;
}

p {
    font-family: "Inconsolata", "monospace";
    font-size: 16px;
}

.hr {
    border: .2em solid #aeaeae;
    margin: 5em 0;
}

.jumbotron {
    height: 100vh;
    background: url("/static/img/header_bg.jpg") no-repeat center center fixed;
    background-size: cover;
}

.jumbotron h1 {
    padding-top: 60vh;
}

blockquote {
    border-color: #101010;
}

.box {
    border: .2em solid;
    height: 35em;
    border-radius: 1em;
    margin-top: 5em;
    box-shadow: 1em 1em .5em #858585;
}

.box hr {
    margin-top: 2em;
    margin-bottom: 1em;
}

.footer {
    background-color: #2E2E2E;
}

.footer p {
    color: #F5F5F5;
}

.footer h3 {
    color: #F5F5F5;
}

.hr-final {
    margin-top: 0;
    margin-bottom: 2em;
}

.small-pic {
    height: 12em;
    width: 12em;
    margin: 1em auto 0 auto;
}


@media(max-width: 992px) {
    .box {
        height: 45em;
    }
}