<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Erwin Boot - Personal</title>

    {% load staticfiles %}
    <link rel="icon" href="{% static "img/favicon.ico" %}"/>
    <link rel="stylesheet" href="{% static "css/bootstrap.css" %}"/>
    <link rel="stylesheet" href="{% static "css/navbar-padding.css" %}"/>
    <link rel="stylesheet" href="{% static "css/personal/erwin.css" %}"/>

    <script src="{% static "js/jquery.js" %}"></script>
    <script src="{% static "js/bootstrap.js" %}"></script>
    <script src="{% static "js/smoothscroll.js" %}"></script>
</head>
<body>

{% include "navbar.html" %}

<div class="box col-lg-8 col-lg-offset-2 col-xs-8 col-xs-offset-1">
    <div class="row">
        <div class="col-lg-4">
            <img style="margin-top: 5em;" class="img-responsive img-circle center-block" src="{% static "img/erwin_tn.jpg" %}"/>
        </div>

        <div class="col-lg-8">
            <p>
                <br>Good day,<br>
                <br>My name is Erwin Boot. I am currently 16 years old. I find enjoyment coding, gaming (My favourite game is Civilizations V),<br> reading (The Kingkiller Chronicle are my favourites) and watching anime (No comment), thus I spend most of my time doing so.
            </p>
            <p>
                I’ve now been coding for about a few months, and I have primarily coded in Python 3, something which I
                have become quite adapt in, I do, however, know small fragments of code from other languages. Whenever I
                am bored, I generally train my coding on<a href="https://codingame.com/" target="_blank"> this coding
                site,</a> honing my skills in an effort to become completely fluent in Python before learning
                something new, and battling other coders (Including Hans) in a feat of honour. I hope you enjoy looking
                around on this page.
            </p>
            <p>
                I remain,<br>
                Yours faithfully,<br>
                Erwin Boot
        </div>
    </div>
</div>

</body>
</html>