<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Hans Goor - Personal</title>

    {% load staticfiles %}
    <link rel="icon" href="{% static "img/favicon.ico" %}"/>
    <link rel="stylesheet" href="{% static "css/bootstrap.css" %}"/>
    <link rel="stylesheet" href="{% static "css/navbar-padding.css" %}"/>
    <link rel="stylesheet" href="{% static "css/personal/hans.css" %}"/>

    <script src="{% static "js/jquery.js" %}"></script>
    <script src="{% static "js/bootstrap.js" %}"></script>
    <script src="{% static "js/smoothscroll.js" %}"></script>
</head>
<body>

{% include "navbar.html" %}

<div class="box col-lg-8 col-lg-offset-2 col-xs-10 col-xs-offset-1">
    <div class="row">
        <div class="col-lg-4">
            <img style="margin-top: 5em;" class="img-responsive img-circle center-block" src="{% static "img/hans_tn.jpeg" %}"/>
        </div>

        <div class="col-lg-8">
            <p>
                <br>Hello!<br><br>My name is Goor, Hans Goor. I love to code (yes, coding, this is how we're supposed to
                write it
                nowadays, programming is no longer apparently) and game. I also really like to watch movies and shows.
                One of my favorite movies, if you hadn't noticed yet, is The Matrix. It is such a deep story which can
                be retold everytime and still have a different meaning. Oh wait, I completely forgot to tell you my age.
                What a terrible thing. I am 15 years old. What is that? I look younger on the picture? Why thank you!
                You're also right, that picture has been taken a few years ago, I cannot remember the exact date. Oh and
                no, I don't have glasses or lenses. I just really liked my visage with a pair of glasses on. I was a
                pretty weird kid, but then again, who wasn't.
            </p>
            <p>
                Some of my political viewpoints, well political more like local politics (school), include school is
                boring. Homework is irrelevant and tests no longer quantify intelligence but an ability to reproduce.
                When a lesson gets too boring for me to handle, you can find me on either <a href="http://lichess.org"
                                                                                             target="_blank">this
                awesome chess site</a> where I chess with Nick, or <a href="https://codingame.com/" target="_blank">this
                awesome coding site</a> where I fight other coders to the death with Erwin. Well, not to the death, more
                like honor.
            </p>
            <p>
                I feel like I have been rambling, have I? I'd love to hear your opinion, please contact us or write in
                the guestbook (yes I shamelessly self-advertise). Anyways, I hope to have informed you adequately in who
                I am and what I stand for/like to do. I also dearly hope you have enjoyed yourself while being on this
                website. Thank you for visiting!<br><br>Sincerely,<br>Hans Goor.
            </p>
        </div>
    </div>
</div>

</body>
</html>