<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Kevin van Geemen - Personal</title>

    {% load staticfiles %}
    <link rel="icon" href="{% static "img/favicon.ico" %}"/>
    <link rel="stylesheet" href="{% static "css/bootstrap.css" %}"/>
    <link rel="stylesheet" href="{% static "css/navbar-padding.css" %}"/>
    <link rel="stylesheet" href="{% static "css/personal/kevin.css" %}"/>

    <script src="{% static "js/jquery.js" %}"></script>
    <script src="{% static "js/bootstrap.js" %}"></script>
    <script src="{% static "js/smoothscroll.js" %}"></script>
</head>
<body>

{% include "navbar.html" %}

<!-- Personal page here please. -->

<div class="container">
    <div class="box col-lg-8 col-lg-offset-2 col-xs-10 col-xs-offset-1">
        <div class="col-lg-4">
            <img class="img-responsive img-circle center-block" src="{% static "img/kevin_logo.png" %}"/>
        </div>

        <h2>Kevin van Geemen</h2>

        <p>
            Ik ben Kevin van Geemen.<br>
            Ik ben 16 jaar.<br>
            Ik ben al langere tijd bezig met programmeren in verschillende talen. Mijn passie voor programmeren begon
            met het programma Game Maker, omdat het mij leuk leek om zelf games te maken. Ik haalde uit de bibliotheek
            tutorial boekjes met voorbeeldscenarios. Het was erg leuk om te zien hoe je van een idee naar iets echts
             kan werken. Deze passie ben ik gaan uitbreiden en nu ken ik een beetje C#, Java en Python. Ik hoop van
            programmeren mijn baan te maken. Maar zover ben ik nog lang niet.<br>
            Ik wil later informatica of chemie studeren. Toen ik hoorde dat informatica op school gegeven ging worden,
            heb ik me natuurlijk gelijk aangemeld.<br>
            Ik heb zelf een YouTube kanaal, waarop ik gameplay videos zet. Ik heb daar al > 660 abonnees. ¯\_(ツ)_/¯<br>
            Deze vind je <b><a href="http://www.youtube.com/kevinvg207">hier</a></b>.<br>
            Mijn favoriete game is Counter-Strike: Global Offensive.<br>
            Mijn favoriete film is Harry Potter and the Prisoner of Azkaban.<br>
        </p>
    </div>
</div>
</body>
</html>