<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Nick Kuppens</title>

    {% load staticfiles %}
    <link rel="icon" href="{% static "img/favicon.ico" %}"/>
    <link rel="stylesheet" href="{% static "css/bootstrap.css" %}"/>
    <link rel="stylesheet" href="{% static "css/navbar-padding.css" %}"/>
    <link rel="stylesheet" href="{% static "css/personal/nick.css" %}"/>

    <script src="{% static "js/jquery.js" %}"></script>
    <script src="{% static "js/bootstrap.js" %}"></script>
    <script src="{% static "js/smoothscroll.js" %}"></script>
</head>
<body>

{% include "navbar.html" %}

<div class="container">
    <div class="box col-lg-8 col-lg-offset-2 col-xs-10 col-xs-offset-1">
        <h2 class="text-center">Wie ben ik?</h2>

        <hr>

        <p>
            Mijn naam is Nick Kuppens.
            Ik ben 17. Ik heb eigenlijk maar 1 echte hobby en dat is gamen. Ik vind computers
            ook
            erg interessant, vooral de hardware kant, en vind het leuk om met computers bezig te zijn. Ik heb echter tot
            dit
            jaar nooit ook maar iets gedaan dat te maken heeft met coderen. Van Hans en het internet heb ik al wat
            geleerd
            maar nog niet veel. Ik ben van plan om meer over coderen te leren ook buiten de lessen informatica.
        </p>
    </div>
</div>

</body>
</html>