<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Get out</title>

    {% load staticfiles %}
    <style>
        body {
            background: url('{% static "img/getout.gif" %}') repeat center center fixed;
            background-size: 25%;
        }

        @media(max-width: 789px) {
            body {
                background-size: 50%;
            }
        }
    </style>
</head>
<body>
</body>
</html>