<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Contact</title>

    {% load staticfiles %}
    <link rel="icon" href="{% static "img/favicon.ico" %}"/>
    <link rel="stylesheet" href="{% static "css/bootstrap.css" %}"/>
    <link rel="stylesheet" href="{% static "css/contact.css" %}"/>
    <link rel="stylesheet" href="{% static "css/navbar-padding.css" %}"/>

    <script src="{% static "js/jquery.js" %}"></script>
    <script src="{% static "js/bootstrap.js" %}"></script>
    <script src="{% static "js/smoothscroll.js" %}"></script>
</head>
<body>

{% include "navbar.html" %}

<div class="container center">
    <form action="/contact/submit" class="contact col-md-4 col-md-offset-4 col-xs-8 col-xs-offset-2" method="post">

        {% csrf_token %}

        {% if messages %}
            <ul class="list-unstyled col-xs-8 col-xs-offset-2">
            {% for message in messages %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                <li><p class="text-danger text-center error">{{ message }}</p></li>
                {% endif %}

                {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                <li><p class="text-success text-center success">{{ message }}</p></li>
                {% endif %}
            {% endfor %}
            </ul>
        {% endif %}

        <div class="row">
            <div class="center-block">
                <div class="form-group col-xs-8 col-xs-offset-2">
                    <label for="name">Your full name:</label>
                    <input type="text" class="form-control" name="name" id="name" maxlength="30">
                </div>

                <div class="form-group col-xs-8 col-xs-offset-2">
                    <label for="email">Your email:</label>
                    <input type="email" class="form-control" name="email" id="email" maxlength="100">
                </div>

                <div class="form-group col-xs-8 col-xs-offset-2">
                    <label for="message">Why do you wish to contact us?</label>
                    <textarea class="form-control" name="message" id="message" maxlength="500"></textarea>
                </div>
            </div>
        </div>

        <button type="submit" href="/contact/submit" class="btn btn-primary col-xs-4 col-xs-offset-4">Send</button>
    </form>
</div>

</body>
</html>