<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Credits</title>

    {% load staticfiles %}
    <link rel="icon" href="{% static "img/favicon.ico" %}"/>
    <link rel="stylesheet" href="{% static "css/bootstrap.css" %}"/>
    <link rel="stylesheet" href="{% static "css/credits.css" %}"/>
    <link rel="stylesheet" href="{% static "css/navbar-padding.css" %}"/>

    <script src="{% static "js/jquery.js" %}"></script>
    <script src="{% static "js/bootstrap.js" %}"></script>
    <script src="{% static "js/smoothscroll.js" %}"></script>
</head>
<body>

{% include "navbar.html" %}

<div class="container">
    <div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2 box">
        <h3 class="text-center" style="margin-bottom: 2em;">Credits:</h3>
        <p>Most of the credits are in the git history of BitBucket, although this is only for the code. In short:</p>
        <br>
        <table class="table table-responsive table-condensed">
            <tr>
                <td>Erwin Boot:</td>
                <td>HTML (personal page) and Python</td>
            </tr>
            <tr>
                <td>Hans Goor:</td>
                <td>HTML, CSS and Python</td>
            </tr>
            <tr>
                <td>Kevin van Geemen:</td>
                <td>HTML (personal page), several tips, tricks and optimizations</td>
            </tr>
            <tr>
                <td>Nick Kuppens:</td>
                <td>HTML (personal page), resources (images, quotes etc...)</td>
            </tr>
        </table>
    </div>
</div>

</body>
</html>