<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Guestbook</title>

    {% load staticfiles %}

    <link rel="icon" href="{% static "img/favicon.ico" %}"/>
    <link rel="stylesheet" href="{% static "css/bootstrap.css" %}"/>
    <link rel="stylesheet" href="{% static "css/guestbook.css" %}"/>
    <link rel="stylesheet" href="{% static "css/navbar-padding.css" %}"/>

    <script src="{% static "js/jquery.js" %}"></script>
    <script src="{% static "js/bootstrap.js" %}"></script>

</head>
<body>

{% include "navbar.html" %}

<div class="container">

    <div class="guestbook col-md-8 col-md-offset-2">
        <h2 class="text-center">The guestbook:</h2>

        <hr class="hr">

        <div class="row">
            {% for post in posts %}
                <div class="post col-md-8 col-md-offset-2">
                    <blockquote><i>"{{ post.message }}"</i></blockquote>
                    <cite>{{ post.date }} - {{ post.name }} - {{ post.age }} years old.</cite>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

<br style="margin-bottom: 10em;">

</body>
</html>