<!DOCTYPE html>
<html lang="en">

<head>
    <title>Why everybody needs to learn how to program</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link href="https://fonts.googleapis.com/css?family=Comfortaa|Inconsolata" rel="stylesheet">

    {% load staticfiles %}
    <link rel="icon" href="{% static "img/favicon.ico" %}"/>
    <link rel="stylesheet" href="{% static "css/bootstrap.css" %}"/>
    <link rel="stylesheet" href="{% static "css/index.css" %}"/>
    <link rel="stylesheet" href="{% static "css/navbar-padding.css" %}"/>

    <script src="{% static "js/jquery.js" %}"></script>
    <script src="{% static "js/bootstrap.js" %}"></script>
    <script src="{% static "js/smoothscroll.js" %}"></script>
</head>

<body>

{% include "navbar.html" %}

<div class="jumbotron" id="top">
    <div class="container">
        <h1>Programming?</h1>
        <p>- But I'm not good at maths and the learning curve just seems too high!</p>
    </div>
</div>

<hr id="quotes" class="hr">
>
<div class="container">
    <h2 style="color: #000000; text-align: center">Some quotes to start you off.</h2>

    <br>

    <div class="row">
        <div class="col-lg-3 col-lg-offset-0">
            <blockquote>
                <p><i>"Learning to write programs stretches your mind, and helps you think better, creates a way of
                    thinking
                    about
                    things that I think is helpful in all domains."</i></p>
                <footer>Bill Gates, <cite>Chairman at Microsoft.</cite></footer>
            </blockquote>
        </div>

        <div class="col-lg-3 col-lg-offset-1">
            <blockquote>
                <p><i>"Technology and computers are very much at the core of our economy going forward. To be prepared
                    for
                    the
                    demands of the 21st century—and to take advantage of its opportunities—it is essential that more of
                    our
                    students today learn basic computer programming skills, no matter what field of work they want to
                    pursue."</i></p>
                <footer>Todd Park, <cite>U.S Chief Technology Officer.</cite></footer>
            </blockquote>
        </div>

        <div class="col-lg-3 col-lg-offset-1">
            <blockquote>
                <p><i>"I often compare open source to science. To where science took this whole notion of developing
                    ideas
                    in
                    the
                    open and improving on other peoples' ideas and making it into what science is today and the
                    incredible
                    advances that we have had. And I compare that to witchcraft and alchemy, where openness was
                    something
                    you
                    didn't do."</i></p>
                <footer>Linus Torvalds, <cite>Creator of Linux.</cite></footer>
            </blockquote>
        </div>
    </div>
</div>

<hr class="hr" id="information">

<div class="container">
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-0 box">
            <img src="{% static "img/clip1.png" %}" class="img-responsive small-pic"/>
            <hr class="hr">
            <p>
                <b>It provides a way to improve your thinking process.</b> Programing is great practice for precise,
                disciplined, and abstract thinking.
                Coding isn’t particularly easy to learn and that’s exactly why it’s so valuable. Even if you have no
                plans to become a software developer, spending a few weeks learning how to code will up your problem
                solving
                abilities.
            </p>
        </div>

        <div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-0 box">
            <img src="{% static "img/clip2.png" %}" class="img-responsive small-pic"/>
            <hr class="hr">
            <p>
                <b>Programming is fun.</b> It’s problem solving at its best. And, though creating something complicated
                might
                require a lot of programming experience, there are plenty of simple programs that don’t. In fact, it’s
                really fun to come up with a program — no matter how simple — to solve an every day problem.

            </p>
        </div>

        <div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-0 box">
            <img src="{% static "img/clip3.png" %}" class="img-responsive small-pic"/>
            <hr class="hr">
            <p>
                <b>It can be useful in everyday live.</b> You can use simple and quickly written programs to perform
                simple, yet tedious tasks in everyday life. You can program all sorts of small utilities that help you
                get your work done each day. It’s easy to get into programming, and there are a lot of free tools on the
                internet that can help you with it.
            </p>
        </div>
    </div>

    <p class="text-center" style="margin-top: 5em;">More info on that
        <a href="https://www.edutopia.org/discussion/coded-success-benefits-learning-program">here</a>,
        <a href="http://www.cprogramming.com/whyprogram.html">here</a> and
        <a href="http://blog.teamtreehouse.com/havent-started-programming-yet">here.</a>
    </p>
</div>

<hr class="hr" id="guestbook">

<div class="container">

    <h3 class="text-center">Please sign the guestbook!</h3>

    <br>

    <form action="/guestbook/submit" class="col-md-8 col-md-offset-2" method="post">

        {% csrf_token %}

        <div class="row">
            <div class="form-group col-lg-5 col-lg-offset-2">
                <label for="name">Your name:</label>
                <input class="form-control" name="name" id="name" maxlength="30">
            </div>

            <div class="form-group col-lg-3 col-lg-offset-0">
                <label for="age">Your age:</label>
                <input class="form-control" name="age" id="age" maxlength="3">
            </div>

            <div class="form-group col-lg-8 col-lg-offset-2">
                <label for="message">Your message to the world:</label>
                <input class="form-control" name="message" id="message" maxlength="100">
            </div>
        </div>

        <br>

        <div class="row">
            <button type="submit" class="btn btn-primary col-xs-4 col-xs-offset-1 col-lg-4 col-lg-offset-2">Post</button>
            <a type="button" href="/guestbook" class="btn btn-primary col-xs-5 col-xs-offset-1 col-lg-3 col-lg-offset-1">View guestbook</a>
        </div>


    </form>
</div>

<hr style="margin-bottom: 0" id="footer" class="hr">

<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-0 col-sm-8 col-sm-offset-2">
                <h3 class="text-center">ABOUT</h3>
                <hr class="hr-final">

                <p class="text-center">&copy;2017 Rooted Incorporated, all rights reserved.</p>

                <table class="table table-responsive table-condensed">
                    <tr>
                        <td><p>Hans Goor:&nbsp;</p></td>
                        <td><p>Backend, HTML and CSS</p></td>
                    </tr>

                    <tr>
                        <td><p>Kevin van Geemen:&nbsp;</p></td>
                        <td><p>HTML and Information</p></td>
                    </tr>

                    <tr>
                        <td><p>Erwin Boot:&nbsp;</p></td>
                        <td><p>Backend and Information</p></td>
                    </tr>

                    <tr>
                        <td><p>Nick Kuppens:&nbsp;</p></td>
                        <td><p>HTML and Information</p></td>
                    </tr>
                </table>
            </div>

            <div class="col-md-4 col-md-offset-0 col-sm-8 col-sm-offset-2">
                <h3 class="text-center">SOURCES</h3>
                <hr class="hr-final">
                <table class="table table-responsive table-condensed">
                    <tr>
                        <td><p>Quotes:</p></td>
                        <td><p><a href="https://code.org/quotes" target="_blank">here</a>, and for Linus Torvalds, <a
                                href="https://www.brainyquote.com/quotes/authors/l/linus_torvalds.html" target="_blank">here</a>
                        </p></td>
                    </tr>

                    <tr>
                        <td><p>Images:</p></td>
                        <td><p><a href="https://images.google.com/" target="_blank">here</a></p></td>
                    </tr>
                </table>
            </div>

            <div class="col-md-4 col-md-offset-0 col-sm-8 col-sm-offset-2">
                <h3 class="text-center">SOFTWARE USED</h3>
                <hr class="hr-final">
                <table class="table table-responsive table-condensed">
                    <tr>
                        <td><p>NGINX (Webserver):&nbsp;</p></td>
                        <td><a href="https://nginx.com/" target="_blank">here</a></td>
                    </tr>
                    <tr>
                        <td><p>Django (Web-framework):&nbsp;</p></td>
                        <td><a href="https://djangoproject.com/" target="_blank">here</a></td>
                    </tr>
                    <tr>
                        <td><p>IntelliJ PyCharm (IDE used):&nbsp;</p></td>
                        <td><a href="https://jetbrains.com/pycharm/" target="_blank">here</a></td>
                    </tr>
                    <tr>
                        <td><p>BitBucket (Source repository):&nbsp;</p></td>
                        <td><a href="https://bitbucket.org/" target="_blank">here</a></td>
                    </tr>

                    <tr>
                        <td><a role="button" href="/requirements_forced" class="btn btn-danger">All the forced requirements!</a></td>
                    </tr>
                </table>
            </div>
        </div>
        <br><br>
    </div>
</div>

</body>

</html>