<nav class="nav navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Rooted Inc</a>
        </div>

        <div class="collapse navbar-collapse" id="navbar">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Home</a>
                    <ul class="dropdown-menu">
                        <li><a href="/#quotes">Quotes</a></li>
                        <li><a href="/#information">Information</a></li>
                        <li><a href="/#guestbook">Guestbook</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/#footer">Credits and Software used</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Credits & Personal</a>
                    <ul class="dropdown-menu">
                        <li><a href="/credits">Credits here!</a></li>
                        <li role="separator" class="divider"></li>
                        <li><p style="padding-left: 7px;">Personal pages:</p></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/personal/erwin">Erwin Boot</a></li>
                        <li><a href="/personal/hans">Hans Goor</a></li>
                        <li><a href="/personal/kevin">Kevin van Geemen</a></li>
                        <li><a href="/personal/nick">Nick Kuppens</a></li>
                    </ul>
                </li>

                <li><a href="/contact">Contact us</a></li>
            </ul>
        </div>

    </div>
</nav>