<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>"Needed" requirements</title>

    {% load staticfiles %}
    <link rel="icon" href="{% static "img/favicon.ico" %}"/>
    <link rel="stylesheet" href="{% static "css/bootstrap.css" %}"/>
    <link rel="stylesheet" href="{% static "css/navbar-padding.css" %}"/>

    <script src="{% static "js/jquery.js" %}"></script>
    <script src="{% static "js/smoothscroll.js" %}"></script>
</head>
<body>

{% include "navbar.html" %}
<div id="boi"></div>

<div class="container col-lg-8 col-lg-offset-2">
    <audio class="col-lg-6 col-lg-offset-3" controls="controls" autoplay="autoplay" src="http://inception.davepedu.com/inception.mp3"></audio>

    <br>

    <iframe class="col-lg-10 col-lg-offset-1" width="560" height="315" src="https://www.youtube.com/embed/5x275s8k928?autoplay=1" frameborder="0"
            allowfullscreen></iframe>

    <br>

    <a class="col-lg-8 col-lg-offset-2" href="http://trumpdonald.org/"><img class="img-responsive" src="https://i.imgur.com/VNKVrML.png"/></a>
</div>

<a style="margin-top: 500em;margin-bottom: 5em;" href="#boi" role="button"
   class="btn btn-primary col-md-4 col-md-offset-4">Back to top?</a>
</body>
</html>